.sidebar {
    flex: 3;
    height: calc(100vh -50px);
    border-right: 1px solid rgb(53, 208, 255);
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.sidebarIcon {
    margin-right: 15px;
}